
<div class="gallery">
  <a >
    <img src="../assets/images/man.jpg" alt="Man" width="300" height="200">
  </a>
  <div class="desc"  (click)= "onSelectMan()">Man Clothing</div>
</div>

<div class="gallery">
  <a >
    <img src="../assets/images/woman.jpg" alt="Woman" width="300" height="200">
  </a>
  <div class="desc" (click)="onSelectWoman()">Woman Clothing</div>
</div>

<div class="gallery">
  <a >
    <img src="../assets/images/baby.jpg" alt="baby" width="300" height="200">
  </a>
  <div class="desc" (click)= "onSelectBaby()">Baby Clothing</div>
</div>
