
    
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a routerLink="/category"> My Service</a></li>
            <li><a routerLink="/manageProduct">Manange Products </a></li>
            <!-- <li><a routerLink="/login">Login </a></li> -->
            <li  *ngIf='!isLoggin'>
                <button><a routerLink="/login" >Login </a></button>
              </li>
              <li  *ngIf='isLoggin'>
                <button>loggout</button>
              </li>
              
        </ul>
      
  

        <app-home></app-home>
  
  