@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.tablestyle{
 
  background-color:#2f4e4a;
  text-align:center;
  min-width: 300px;
  margin-left:250px;
 margin-right: 250px;
}
h1 {
  font-family:cursive;
  display: block;
  font-size: 2em;
  padding-top:30px;
  font-weight: bold;
  margin-top:60px;
  color:rgb(240, 12, 152)
}


.mat-card-content, .mat-card-subtitle {
 font-size: 14px;
 text-align:left;
}
.example-container {
  
  flex-direction: column;
  /* margin-left: 100px; */
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
  text-align: left;
}

.cardmargin{
  margin-top: 30px;

}

table {
  width: 80%;
  margin-left: 10%;
  margin-left: 10%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}
.marginsty{
margin: 0px 5px;
}
.borderstyle{

  border-block-start-color: 2px solid black;
}
.floatright{
  float:center;
}

.example-card {
  max-width: 100%;
}
.marginsty{
  margin: 0px 5px;
  }
  .spancenter{
    position: relative;
    left: 400px;
    color: crimson
}

/* tr:nth-child(even) {background-color: lightslategrey;}
table, td, th {
    border: 2px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 40%;
    margin-left:350px;
  
  }
  
  th {
    height: 30px;
    color: rgb(206, 79, 98);
 
  } */