<h1>OnLine Defacto</h1>

<angular-image-slider [images]="imagesUrl"></angular-image-slider>
<br>
<br>
<hr>

<h1>Our Categories</h1>
<div class="container">
    <div class="catg1">
       <div class="catImg">
           <img src="../assets/images/man.jpg" height="200px" width= "250px" border-radius= 50% >
       </div>
       <div class="catDesc">
           <h2>Man Clothing</h2>
           <p>We try to provide you with all your needs from man clothing.</p>
       </div>
    </div>
    <br>
    <br>
    <div class="catg1" >
        <div class="catImg">
            <img src="../assets/images/woman.jpg" height="200px" width= "250px" border-radius= 50% >
        </div>
        <div class="catDesc">
            <h2>Woman Clothing</h2>
            <p>We try to provide you with all your needs from woman clothing.</p>
        </div>
     </div>
     <br>
     <br>

     <div class="catg1">
        <div class="catImg">
            <img src="../assets/images/baby.jpg" height="200px" width= "250px" border-radius= 50% >
        </div>
        <div class="catDesc">
            <h2>Baby Clothing</h2>
            <p>We try to provide you with all your needs from baby clothing.</p>
        </div>
     </div>
</div>

<hr>



<div class="example-container">
    <h1>Contact Us</h1>
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Your Message"></textarea>
    </mat-form-field>

    <button mat-button>Send Message</button>
  
  </div>

  <footer>
        <p>© 2018 Copyright</p>
  </footer>